.Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 0px solid black ;
    /* margin: 10px; */
    /* padding: 10px; */
    position: relative;
    overflow: hidden;
    background-color: black;
    z-index: 1;
}